S3method(AIC, sbm)
S3method(plot, sbm)
S3method(predict, sbm)
S3method(summary, sbm)
export(AIC.sbm)
export(dsblnorm)
export(dsbgamma)
export(dsbweibull)
export(hmean)
export(make_newdata)
export(new_sbm)
export(plot.sbm)
export(predict.sbm)
export(sbm)
export(summary.sbm)
importFrom(dplyr,"%>%")
